<br /><br /><br />
<div class="container">
    <div class="row text-light">
        <div class="col">
            <br />
            <h1>{{ title }}</h1>

            <p>Key: {{ campaignkey }}</p>

            <p>{{ campaigndetail }}</p>
            {{#if goalAmount}}
            <p>Goal Amount: ${{ goalAmount }}</p>

            <hr style="border: 1px solid white" />

            {{/if}}

            {{#each donations}}
                <p>{{this.customer}} donated ${{this.charge}} cents!</p>
            {{/each}}

            <a href="/campaigns" class="btn btn-danger">
                <img src="https://svgshare.com/i/KL6.svg" alt="back icon" class="d-inline-block" width="20"
                    height="20" />
                Back to list</a>
            <a href="/campaigns/donate?key={{ campaignkey }}" class="btn btn-success">Make a donation</a>
        </div>
    </div>
</div>